<script type="text/javascript" charset="utf-8">
// <![CDATA[

    var dirty = 0;
    function trimString (str) {
      str = this != window? this : str;
      return str.replace(/^\s+/g, '').replace(/\s+$/g, '');
    }


    // Email Validation Javascript
    // copyright 23rd March 2003, by Stephen Chapman, Felgall Pty Ltd

    // You have permission to copy and use this javascript provided that
    // the content of the script is not changed in any way.

    function validateEmail(addr,man,db) {
        if (addr == '' && man) {
           if (db) alert('email address is mandatory');
           return false;
        }
        var invalidChars = '\/\'\\ ";:?!()[]\{\}^|';
        for (i=0; i<invalidChars.length; i++) {
           if (addr.indexOf(invalidChars.charAt(i),0) > -1) {
              if (db) alert('<MT_TRANS phrase="email address contains invalid characters">');
              return false;
           }
        }
        for (i=0; i<addr.length; i++) {
           if (addr.charCodeAt(i)>127) {
              if (db) alert('<MT_TRANS phrase="email address contains non-ascii characters">');
              return false;
           }
        }

        var atPos = addr.indexOf('@',0);
        if (atPos == -1) {
           if (db) alert('<MT_TRANS phrase="email address must contain an @">');
           return false;
        }
        if (atPos == 0) {
           if (db) alert('<MT_TRANS phrase="email address must not start with @">');
           return false;
        }
        if (addr.indexOf('@', atPos + 1) > - 1) {
           if (db) alert('<MT_TRANS phrase="email address must contain only one @">');
           return false;
        }
        if (addr.indexOf('.', atPos) == -1) {
           if (db) alert('<MT_TRANS phrase="email address must contain a period in the domain name">');
           return false;
        }
        if (addr.indexOf('@.',0) != -1) {
           if (db) alert('<MT_TRANS phrase="period must not immediately follow @ in email address">');
           return false;
        }
        if (addr.indexOf('.@',0) != -1){
           if (db) alert('<MT_TRANS phrase="period must not immediately precede @ in email address">');
           return false;
        }
        if (addr.indexOf('..',0) != -1) {
           if (db) alert('<MT_TRANS phrase="two periods must not be adjacent in email address">');
           return false;
        }
        var suffix = addr.substring(addr.lastIndexOf('.')+1);
        if (suffix.length != 2 && suffix != 'com' && suffix != 'net' && suffix != 'org' && suffix != 'edu' && suffix != 'int' && suffix != 'mil' && suffix != 'gov' & suffix != 'arpa' && suffix != 'biz' && suffix != 'aero' && suffix != 'name' && suffix != 'coop' && suffix != 'info' && suffix != 'pro' && suffix != 'museum') {
           if (db) alert('<MT_TRANS phrase="invalid primary domain in email address">');
           return false;
        }
        return true;
    }

    function multiEmail(email_field) {
        if (email_field == '') return true;
        var email = email_field.split(/[,\s]+/);
        for (var i = 0; i < email.length; i++) {
            var em = trimString(email[i]);
            if (!validateEmail(em, 1, 0)) {
                alert(email[i]+' <MT_TRANS phrase="INVALID_EMAIL">');
                return false;
            }
        }
        return true;
    }


// ]]>
</script>
<div class="setting grouped">
    <p style="margin: 0px 0px 10px 20px;"><MT_TRANS phrase="PLUGIN_SETTING_DESCRIPTION"></p>
    <div class="label"><MT_TRANS phrase="AUTHOR"></div>
	<div class="field">
		<ul>
		<li>
			<input type="checkbox" name="notifywho_author" id="notifywho_author" value="1" <TMPL_IF NAME=NOTIFYWHO_AUTHOR>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="NOTIFY_AUTHOR_LABEL"><br />
		</li>
		</ul>
    </div>
    <div class="label"><MT_TRANS phrase="OTHERS"></div>
	<div class="field">
		<ul>
		<li>
            <input type="text" name="notifywho_others" size="50" value="<TMPL_IF NAME=NOTIFYWHO_OTHERS><TMPL_VAR NAME=NOTIFYWHO_OTHERS ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="OTHERS_FIELD_HINT"></TMPL_IF>" onchange="dirty=1;" <TMPL_UNLESS NAME=NOTIFYWHO_OTHERS>onblur="if(this.value==''){this.style.color='#666'; this.form.reset()}else{if(dirty){multiEmail(this.value);}}" onfocus="if (! dirty){this.value = ''; this.style.color = '#000';}" style="color: #666"<TMPL_ELSE>onblur="if(dirty){multiEmail(this.value);}"</TMPL_UNLESS> />
		</li>
		</ul>
<p><MT_TRANS phrase="FEEDBACK_CONTROL_NOTICE"></p>
	</div>
</div>
